@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans Light'),
    url(@/assets/fonts/NunitoSans-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans SemiBold'),
    url(@/assets/fonts/NunitoSans-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('Nunito Sans ExtraBold'),
    url(@/assets/fonts/NunitoSans-ExtraBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

:root {
  --color-background: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-input: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
}

:root.dark-theme {
  --color-background: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 52%);
  --color-text: hsl(200, 15%, 8%);
}
